[Desktop Entry]
Name=Mconf Chat
Comment=Chat client that connect to the Mconf.org network
Type=comm
Version=1.0
Icon=mconf
Exec=/bin/mconf-chat
Path=/opt/mconf-chat
Categories=Applications;